# Archivos de configuración con datos sensibles
appsettings.Development.json
appsettings.Production.json

# Build
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo

# Publicación
publish/
out/

# Logs
*.log
logs/

# Variables de entorno
.env
.env.local

# Archivos temporales
*.tmp
*.temp
Thumbs.db

# Angular
Frontend/SistemaFlota/.angular/