<div class="layout">

    <app-sidebar [abierto]="sidebarAbierto" [colapsado]="sidebarColapsado" (cerrar)="cerrarSidebar()"
        (toggleColapso)="toggleColapsoSidebar()">
    </app-sidebar>

    <app-topbar [colapsado]="sidebarColapsado" (toggleMenu)="toggleMenu()">
    </app-topbar>

    <div class="main" [class.sidebar-colapsado]="sidebarColapsado">

        <main class="content">

            <div class="router-container">
                <router-outlet></router-outlet>
            </div>

        </main>

    </div>

</div>