.layout {
    width: 100%;
    min-height: 100vh;
}

.main {
    margin-left: 260px;
    padding-top: 10px;
    min-height: 100vh;
    width: calc(100% - 260px);
    transition: margin-left 0.3s ease, width 0.3s ease;
    box-sizing: border-box;
}

.main.sidebar-colapsado {
    margin-left: 78px;
    width: calc(100% - 78px);
}

/* CONTENIDO */
.content {
    position: relative;
    width: 100%;
    min-width: 0;
    overflow: hidden;
}

.router-container {
    position: relative;
    width: 100%;
    min-height: calc(100vh - 70px);
    box-sizing: border-box;
}

@media (max-width: 768px) {

    .main,
    .main.sidebar-colapsado {
        margin-left: 0;
        width: 100%;
        padding-top: 60px;
    }

    .router-container {
        min-height: calc(100vh - 60px);
    }
}