<div class="contenedor" [class.panel-abierto]="materialSeleccionado">

    <!-- HEADER -->
    <div class="header">
        <div class="titulo">
            <h1>Materiales por Proveedor</h1>
            <span class="subtitulo">
                {{ materiales.length }} de {{ totalRegistros }} materiales en catálogo
            </span>
        </div>

        <button class="btn-agregar" (click)="nuevoMaterial()">
            <i class="fa-solid fa-plus"></i>
            Nuevo Material
        </button>
    </div>

    <!-- FILTROS -->
    <div class="card filtros-card">
        <div class="card-header">
            <i class="fa-solid fa-filter"></i>
            <h3>Filtros</h3>
        </div>

        <div class="filtros-grid">
            <div class="campo">
                <label>Buscar</label>
                <div class="input-icon">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input type="text" placeholder="Material, proveedor..." [(ngModel)]="buscar"
                        (ngModelChange)="filtrar()">
                </div>
            </div>

            <div class="campo">
                <label>Proveedor</label>
                <select [(ngModel)]="proveedor" (ngModelChange)="filtrar()">
                    <option value="">Todos</option>
                    <option *ngFor="let p of proveedores" [value]="p.idProveedor">
                        {{ p.nombre }}
                    </option>
                </select>
            </div>

            <div class="campo">
                <label>Estado</label>
                <select [(ngModel)]="estado" (ngModelChange)="filtrar()">
                    <option value="">Todos</option>
                    <option value="Activo">Activo</option>
                    <option value="Inactivo">Inactivo</option>
                </select>
            </div>

            <div class="campo">
                <label>Color</label>
                <select [(ngModel)]="color" (ngModelChange)="filtrar()">
                    <option value="">Todos</option>
                    <option *ngFor="let c of colores" [value]="c">
                        {{ c }}
                    </option>
                </select>
            </div>
        </div>
    </div>

    <!-- LAYOUT PRINCIPAL: TABLA + DRAWER -->
    <div class="layout-contenido">

        <!-- TABLA PRINCIPAL -->
        <div class="tabla">
            <table>
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Proveedor</th>
                        <th>Material</th>
                        <th>Precio</th>
                        <th>Unidad</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let item of materiales" (click)="seleccionarMaterial(item)"
                        [class.fila-activa]="materialSeleccionado?.idMaterial === item.idMaterial">

                        <td data-label="Codigo" class="col-codigo">{{ item.idMaterial }}</td>

                        <td data-label="Proveedor" class="col-material">
                            {{ item.proveedor }}
                        </td>

                        <td data-label="Material" class="col-material">
                            {{ item.nombreMaterial }}
                        </td>

                        <td data-label="Precio" class="col-precio">
                            {{ item.precioBaseKg | currency:'COP':'symbol':'1.0-0':'es-CO' }}
                        </td>
                        <td data-label="Unidad" class="col-unidad">{{ item.unidad }}</td>


                        <td data-label="Estado" class="col-estado">
                            <span *ngIf="item.activo" class="activo">Activo</span>
                            <span *ngIf="!item.activo" class="inactivo">Inactivo</span>
                        </td>

                        <td data-label="Acciones" class="acciones-menu menu-container"
                            (click)="$event.stopPropagation()">
                            <button class="btn-menu" (click)="toggleMenu(item.idMaterial!)">
                                <i class="fa-solid fa-ellipsis-vertical"></i>
                            </button>

                            <div class="menu" *ngIf="menuAbierto === item.idMaterial">
                                <button class="btn-editar" (click)="cerrarMenu(); editar(item, $event)">
                                    <i class="fa-regular fa-pen-to-square"></i>
                                    <span>Editar</span>
                                </button>

                                <button class="btn-eliminar" (click)="cerrarMenu(); eliminar(item, $event)">
                                    <i class="fa-regular fa-trash-can"></i>
                                    <span>Eliminar</span>
                                </button>

                                <a *ngIf="item.documentoPdf" [href]="'http://localhost:5214/' + item.documentoPdf"
                                    target="_blank" (click)="cerrarMenu()">
                                    <i class="fa-solid fa-file-pdf"></i>
                                    <span>Ver Ficha técnica</span>
                                </a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <!-- PAGINACIÓN -->
            <div class="paginacion">
                <div class="info">
                    Mostrando {{ materiales.length }} de {{ totalRegistros }} Materiales
                </div>

                <div class="controles">
                    <button class="btn-pagina" (click)="paginaAnterior()" [disabled]="pagina === 1">
                        Anterior
                    </button>
                    <span>
                        Página {{ pagina }} de {{ totalPagina }}
                    </span>
                    <button class="btn-pagina" (click)="paginaSiguiente()" [disabled]="pagina === totalPagina">
                        Siguiente
                    </button>
                </div>
            </div>
        </div>

        <!-- PANEL LATERAL DE DETALLES (DRAWER) -->
        <aside class="drawer-detalles" *ngIf="materialSeleccionado">
            <div class="drawer-header">
                <h3>Detalles del Material</h3>
                <button class="btn-close" (click)="cerrarDrawer()">&times;</button>
            </div>

            <div class="drawer-body">
                <div class="detalle-header">
                    <h2>{{ materialSeleccionado.nombreMaterial }}</h2>
                    <span class="codigo-badge">ID: {{ materialSeleccionado.idMaterial }}</span>
                </div>

                <hr />

                <div class="detalle-grupo">
                    <label>Descripción de Compra</label>
                    <p>{{ materialSeleccionado.descripcionCompra || 'Sin descripción disponible' }}</p>
                </div>

                <div class="detalle-grid">
                    <div>
                        <label>Proveedor</label>
                        <p>{{ materialSeleccionado.proveedor }}</p>
                    </div>

                    <div>
                        <label>Categoría</label>
                        <p>{{ materialSeleccionado.categoria }}</p>
                    </div>

                    <div>
                        <label>Densidad</label>
                        <p>
                            <span class="badge">{{ materialSeleccionado.densidad }}</span>
                        </p>
                    </div>

                    <div>
                        <label>Color</label>
                        <p>{{ materialSeleccionado.color }}</p>
                    </div>

                    <div>
                        <label>Tipo Producción</label>
                        <p>{{ materialSeleccionado.tipoProduccion }}</p>
                    </div>

                    <div>
                        <label>Precio Base</label>
                        <p><strong>{{ materialSeleccionado.precioBaseKg | currency }}</strong> / {{
                            materialSeleccionado.unidad }}</p>
                    </div>

                    <div>
                        <label>Estado</label>
                        <p>
                            <span *ngIf="materialSeleccionado.activo" class="activo">Activo</span>
                            <span *ngIf="!materialSeleccionado.activo" class="inactivo">Inactivo</span>
                        </p>
                    </div>

                    <div>
                        <label>Fecha Creación</label>
                        <p>{{ materialSeleccionado.fechaCreacion | date:'dd/MM/yyyy' }}</p>
                    </div>
                </div>

                <div class="drawer-acciones" *ngIf="materialSeleccionado.documentoPdf">
                    <a [href]="'http://localhost:5214/' + materialSeleccionado.documentoPdf" target="_blank"
                        class="btn-pdf-drawer">
                        <i class="fa-solid fa-file-pdf"></i>
                        Ver Ficha Técnica en PDF
                    </a>
                </div>
            </div>
        </aside>

    </div>
</div>