<section class="dashboard-inferior">

    <!-- Actividad -->

    <div class="panel">

        <h2>
            <i class="fa-solid fa-clock-rotate-left"></i>
            Actividad reciente
        </h2>

        <div class="item" *ngFor="let actividad of resumen?.actividades">

            <i *ngIf="actividad.tipo === 'orden'" class="fa-solid fa-file-circle-check ok"></i>

            <i *ngIf="actividad.tipo === 'mantenimiento'" class="fa-solid fa-screwdriver-wrench naranja"></i>

            <div>

                <strong>
                    {{ actividad.descripcion }}
                </strong>

                <small>
                    {{ actividad.fecha | date:'dd/MM/yyyy HH:mm' }}
                </small>

            </div>

        </div>

        <div class="item" *ngIf="!resumen?.actividades?.length">
            <div>
                <strong>No hay actividad reciente</strong>
            </div>
        </div>

    </div>


    <!-- Accesos -->

    <div class="panel">

        <h2>
            <i class="fa-solid fa-bolt"></i>
            Accesos rápidos
        </h2>

        <button routerLink="/costos/orden-compra">
            <i class="fa-solid fa-file-circle-plus"></i>
            Nueva orden de compra
        </button>

        <button routerLink="/flota/vehiculos">
            <i class="fa-solid fa-truck"></i>
            Registrar vehículo
        </button>

        <button routerLink="/flota/mantenimiento">
            <i class="fa-solid fa-screwdriver-wrench"></i>
            Registrar mantenimiento
        </button>

        <button>
            <i class="fa-solid fa-user-plus"></i>
            Nuevo empleado
        </button>

    </div>


    <!-- Vencimientos -->

    <div class="panel">

        <h2>
            <i class="fa-solid fa-calendar-days"></i>
            Próximos vencimientos
        </h2>

        <div class="vencimiento" *ngFor="let vencimiento of resumen?.vencimientos">

            <span>
                {{ vencimiento.descripcion }}
            </span>

            <strong>
                {{ vencimiento.dias }} días
            </strong>

        </div>

        <div class="vencimiento" *ngIf="!resumen?.vencimientos?.length">
            <span>
                No hay vencimientos próximos
            </span>
        </div>

    </div>

</section>